Makefile.in
aclocal.m4
autom4te.cache/
configure
config.h.in
config.h
config.log
config.status
doc/stamp-vti
po/POTFILES
stamp-h1
Makefile
.deps/
tools/gpg-zip
*.o
po/en@boldquot.insert-header
po/en@boldquot.po
po/en@quot.insert-header
po/en@quot.po
po/stamp-po
po/gnupg.pot
g10/gpg
g10/gpgv
mpi/sysdep.h
mpi/asm-syntax.h
mpi/mpi-asm-defs.h
mpi/mpih-add1.S
mpi/mpih-lshift.S
mpi/mpih-mul1.S
mpi/mpih-mul2.S
mpi/mpih-mul3.S
mpi/mpih-rshift.S
mpi/mpih-sub1.S
mpi/_mpih-add1.s
mpi/_mpih-lshift.s
mpi/_mpih-mul1.s
mpi/_mpih-mul2.s
mpi/_mpih-mul3.s
mpi/_mpih-rshift.s
mpi/_mpih-sub1.s
keyserver/gpgkeys_curl
keyserver/gpgkeys_finger
keyserver/gpgkeys_hkp
keyserver/gpgkeys_ldap
keyserver/gpgkeys_mailto
keyserver/gpgkeys_test
checks/data-32000
checks/data-500
checks/data-80000
checks/data-9000
checks/gpg_dearmor
checks/plain-1
checks/plain-2
checks/plain-3
checks/plain-large
checks/prepared.stamp
checks/pubring.gpg
checks/pubring.pkr
checks/secring.gpg
checks/secring.skr
cipher/libcipher.a
doc/gnupg1.info
doc/gpg.1
doc/gpg.ru.1
doc/gpgv.1
doc/version.texi
po/gnupg2.pot
tools/bftest
tools/gpgtar
tools/mpicalc
tools/shmtest
mpi/libmpi.a
util/libcompat.a
util/libutil.a
