Makefile.in
aclocal.m4
autom4te.cache/
configure
config.h.in
config.h
config.log
config.status
common/audit-events.h
common/status-codes.h
doc/gnupg.info*
doc/stamp-vti
doc/version.texi
po/gnupg2.pot
po/POTFILES
po/*.gmo
stamp-h1
Makefile
.deps/
keyserver/gpg2keys_mailto
keyserver/gpg2keys_test
tools/gpg-zip

# Files created by make when not using a VPATH build
PLAY/
*.o
po/en@boldquot.insert-header
po/en@boldquot.po
po/en@quot.insert-header
po/en@quot.po
po/stamp-po
po/remove-potcdate.sed
po/gnupg.pot
agent/gpg-agent
agent/gpg-preset-passphrase
agent/gpg-protect-tool
agent/t-protect
common/libcommon.a
common/libcommonpth.a
common/libgpgrl.a
common/libsimple-pwquery.a
common/t-b64
common/t-convert
common/t-exechelp
common/t-gettime
common/t-helpfile
common/t-percent
common/t-session-env
common/t-sexputil
common/t-sysutils
common/t-stringhelp
common/t-timestuff
common/t-ssh-utils
common/t-dns-cert
common/t-openpgp-oid
doc/addgnupghome.8
doc/applygnupgdefaults.8
doc/faq.html
doc/faq.raw.xref
doc/gnupg-card-architecture.eps
doc/gnupg-card-architecture.pdf
doc/gnupg-card-architecture.png
doc/gnupg-module-overview.pdf
doc/gnupg-module-overview.png
doc/gnupg.7
doc/gpg-agent.1
doc/gpg-connect-agent.1
doc/gpg-preset-passphrase.1
doc/gpg-zip.1
doc/gpg2.1
doc/gpgconf.1
doc/gpgparsemail.1
doc/gpgsm.1
doc/gpgv2.1
doc/scdaemon.1
doc/dirmngr-client.1
doc/dirmngr.8
doc/symcryptrun.1
doc/watchgnupg.1
doc/yat2m
doc/yat2m-stamp
g10/gpg2
g10/gpgv2
g10/t-rmd160
gl/alloca.h
gl/libgnu.a
jnlib/libjnlib.a
jnlib/t-stringhelp
kbx/kbxutil
kbx/libkeybox.a
keyserver/gpg2keys_curl
keyserver/gpg2keys_finger
keyserver/gpg2keys_hkp
keyserver/gpg2keys_kdns
keyserver/gpg2keys_ldap
scd/gnupg-pcsc-wrapper
scd/scdaemon
sm/gpgsm
g13/g13
dirmngr/dirmngr
dirmngr/dirmngr-client
dirmngr/dirmngr_ldap
dirmngr/no-libgcrypt.c
regexp/_unicode_mapping.c
tests/asschk
tests/gpg-agent.conf
tests/gpg.conf
tests/gpgsm.conf
tests/inittests.stamp
tests/private-keys-v1.d/
tests/pubring.kbx
tests/testdir.stamp
tests/trustlist.txt
tests/openpgp/data-32000
tests/openpgp/data-500
tests/openpgp/data-80000
tests/openpgp/data-9000
tests/openpgp/gpg-agent.conf
tests/openpgp/gpg_dearmor
tests/openpgp/plain-1
tests/openpgp/plain-2
tests/openpgp/plain-3
tests/openpgp/plain-large
tests/openpgp/prepared.stamp
tests/openpgp/pubring.gpg
tests/openpgp/pubring.pkr
tests/openpgp/secring.gpg
tests/openpgp/secring.skr
tests/openpgp/private-keys-v1.d/
tests/openpgp/*.log
tests/openpgp/trustdb.gpg
tests/openpgp/gpg.conf
tests/openpgp/random_seed
tests/openpgp/z
tests/pkits/ReadMe.txt
tests/pkits/certpairs/
tests/pkits/certs/
tests/pkits/crls/
tests/pkits/gpg-agent.conf
tests/pkits/gpgsm.conf
tests/pkits/inittests.stamp
tests/pkits/pkcs12/
tests/pkits/pkits.ldif
tests/pkits/pkits.schema
tests/pkits/policies.txt
tests/pkits/smime/
tests/pkits/testdir.stamp
tests/pkits/trustlist.txt
tools/clean-sat
tools/gpg-check-pattern
tools/gpg-connect-agent
tools/gpgconf
tools/gpgkey2ssh
tools/gpgparsemail
tools/gpgsplit
tools/make-dns-cert
tools/mk-tdata
tools/symcryptrun
tools/watchgnupg
tools/gpgtar
private-keys-v1.d/
x.parm
/VERSION
/swdb.lst
/swdb.lst.sig
/doc/ldap/gnupg-and-ldap.pdf
/doc/ldap/gnupg-and-ldap.tex
/doc/ldap/gnupg-and-ldap.txt
