Source: gnupg
Section: utils
Priority: optional
Maintainer: James Troup <james@nocrew.org>
Standards-Version: 2.5.0.0

Package: gnupg
Architecture: any
Depends: ${shlibs:Depends}, makedev (>= 2.3.1-13)
Description: GNU privacy guard - a free PGP replacement.
 GnuPG is the GNU encryption and signing tool.  As you can see from the
 version number, the program may have some bugs and some features may not
 work at all.
 .
 Due to the fact that GnuPG does not use use any patented algorithm,
 it cannot be compatible to old PGP versions, because those use
 IDEA (which is worldwide patented) and RSA (which is patented in
 the United States until Sep 20, 2000).
 .
 GnuPG is in almost all aspects compatible with other OpenPGP
 implementations. The default algorithms are DSA and ELGamal.
 Symmetric algorithms are: Blowfish and CAST5, Digest algorithms are
 MD5, RIPEMD160, SHA1 and TIGER/192.
