Source: gnupg
Section: non-US
Priority: optional
Maintainer: James Troup <james@nocrew.org>
Standards-Version: 3.1.1.1
Build-Depends: gettext, libgdbmg1-dev, libz-dev

Package: gnupg
Architecture: any
Depends: ${shlibs:Depends}, makedev (>= 2.3.1-13)
Suggests: gnupg-doc
Conflicts: gpg-rsa, gpg-rsaref, suidmanager (<< 0.50)
Replaces: gpg-rsa, gpg-rsaref
Provides: gpg-rsa, gpg-rsaref
Description: GNU privacy guard - a free PGP replacement.
 GnuPG is GNU's tool for secure communication and data storage.
 It can be used to encrypt data and to create digital signatures.
 It includes an advanced key management facility and is compliant
 with the proposed OpenPGP Internet standard as described in RFC2440.
 .
 GnuPG does not use use any patented algorithms so it cannot be
 compatible with PGP2 because it uses IDEA (which is patented
 worldwide) and RSA.  RSA's patent expired on the 20th September 2000,
 and it is now included in GnuPG.
