#!/usr/bin/make -f
# debian/rules file - for GNUPG (1.0.5)
# Based on sample debian/rules file - for GNU Hello (1.3).
# Copyright 1994,1995 by Ian Jackson.
# Copyright 1998 James Troup
# I hereby give you perpetual unlimited permission to copy,
# modify and relicense this file, provided that you do not remove
# my name from the file itself.  (I assert my moral right of
# paternity under the Copyright, Designs and Patents Act 1988.)
# This file may have to be extensively modified

STRIP=strip --remove-section=.comment --remove-section=.note

build:
	$(checkdir)
	./configure --prefix=/usr --with-included-gettext
	$(MAKE)
	touch build

test: build
	$(checkdir)
	make -C checks check || exit 127
	touch test

clean:
	$(checkdir)
	-rm -f build
	-$(MAKE) -i distclean || $(MAKE) -f Makefile.in distclean
	-rm -rf debian/tmp debian/*~ debian/files* debian/substvars

binary-indep:

binary-arch:	checkroot build # test
	$(checkdir)
	-rm -rf debian/tmp
	install -d debian/tmp/DEBIAN/
	install -m 755 debian/preinst debian/prerm debian/postinst debian/tmp/DEBIAN/
	$(MAKE) prefix=`pwd`/debian/tmp/usr mandir=`pwd`/debian/tmp/usr/share/man install
	# copies of the manpage which can't be grokked by install-info
	rm debian/tmp/usr/info/*
	$(STRIP) debian/tmp/usr/bin/*
	chmod 4755 debian/tmp/usr/bin/gpg
	chmod 644 debian/tmp/usr/lib/gnupg/*
	sed -e "s#../g10/gpg#gpg#" < tools/lspgpot > debian/tmp/usr/bin/lspgpot
	chmod 755 debian/tmp/usr/bin/lspgpot
	$(STRIP) --strip-unneeded debian/tmp/usr/lib/gnupg/*
	# In response to #53714... no idea if it's correct, will check with upstream
	mv debian/tmp/usr/share/locale/es_ES debian/tmp/usr/share/locale/es
	sed -e "s#/usr/local/#/usr/#" < debian/tmp/usr/share/man/man1/gpg.1 \
	    > debian/tmp/usr/share/man/man1/gpg.1.new
	mv debian/tmp/usr/share/man/man1/gpg.1.new debian/tmp/usr/share/man/man1/gpg.1
	gzip -9v debian/tmp/usr/share/man/man1/*
	# Remove from /usr/share/gnupg that we install into /usr/share/doc/gnupg/
	rm debian/tmp/usr/share/gnupg/FAQ debian/tmp/usr/share/gnupg/faq.html
	install -d debian/tmp/usr/share/doc/gnupg/
	install -m 644 debian/changelog debian/tmp/usr/share/doc/gnupg/changelog.Debian
	install -m 644 debian/README.Debian README NEWS THANKS TODO doc/DETAILS \
		doc/FAQ doc/faq.html doc/OpenPGP debian/tmp/usr/share/doc/gnupg/
	for i in po util mpi cipher tools g10 checks include; do \
		install -m 644 $$i/ChangeLog debian/tmp/usr/share/doc/gnupg/changelog.$$i; done
	install -m 644 ChangeLog debian/tmp/usr/share/doc/gnupg/changelog.toplevel
	gzip -9v debian/tmp/usr/share/doc/gnupg/*
	ln -s changelog.g10.gz debian/tmp/usr/share/doc/gnupg/changelog.gz
	install -m 644 debian/copyright debian/tmp/usr/share/doc/gnupg/
	install -d debian/tmp/usr/share/lintian/overrides/
	install -m 644 debian/lintian.override debian/tmp/usr/share/lintian/overrides/gnupg
	dpkg-shlibdeps g10/gpg
	dpkg-gencontrol -isp
	chown -R root.root debian/tmp
	chmod -R go=rX debian/tmp
	dpkg --build debian/tmp ..

define checkdir
	test -f g10/g10.c -a -f debian/rules
endef

# Below here is fairly generic really

binary: 	binary-indep binary-arch

checkroot:
	$(checkdir)
	test root = "`whoami`"

.PHONY: binary binary-arch binary-indep clean checkroot
